

div#page-footer {
    margin: 0 auto;
    width: 1004px;
}

div#page-footer-wrap {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 59px;
    background: #37434D;
    overflow: hidden;
}
div#page-footer {
    padding: 16px 0px 0px 0px;
}

div#page-footer ul li {
    display: block;
    float: right;
    padding: 0px 10px 0px 10px;
}
div#page-footer ul li a {
    text-decoration: none;
}
div#page-footer ul li a:hover {
    text-decoration: none;
}
div#page-footer ul li a span {
    font: bold 13px/20px Arial, helvetica, sans-serif;
    color: #B8C8C8;
    
}
div#page-footer ul li.text span {
    font: normal 13px/20px Arial, helvetica, sans-serif;
    color: #B8C8C8;
    color: #8daaaa !important;
}

div#page-footer ul li a:hover span {
    color: #fff;
}

#copyright {
    display: block;
    float: left;
    
}
#copyright p {
    display: block;
    float: left;
    color: #8daaaa !important;
    font: normal 13px/20px Arial, helvetica, sans-serif;
    padding: 0px 0px 0px 40px;

}


/* @group Footer */

#footer div, 
#footer a, 
#footer ul, 
#footer ul li, 
#footer ul li a, 
#footer ul li a span {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
}
#footerWrapper {
    padding: 20px 0 20px 0;
    width: 1006px;
    margin: 0px auto;
    display: block;
    float: none;
    overflow: hidden;
}
